volumes*/
datareporting*/
saved-telemetry-pings*/
assets/mozilla/firefox/avfatqu6.default/SiteSecurityServiceState.txt
assets/mozilla/firefox/avfatqu6.default/cert8.db
assets/mozilla/firefox/avfatqu6.default/compatibility.ini
assets/mozilla/firefox/avfatqu6.default/cookies.sqlite
assets/mozilla/firefox/avfatqu6.default/cookies.sqlite-shm
assets/mozilla/firefox/avfatqu6.default/cookies.sqlite-wal
assets/mozilla/firefox/avfatqu6.default/extensions.json
assets/mozilla/firefox/avfatqu6.default/gmp-gmpopenh264/
assets/mozilla/firefox/avfatqu6.default/healthreport.sqlite
assets/mozilla/firefox/avfatqu6.default/healthreport/
assets/mozilla/firefox/avfatqu6.default/lock
assets/mozilla/firefox/avfatqu6.default/places.sqlite
assets/mozilla/firefox/avfatqu6.default/places.sqlite-shm
assets/mozilla/firefox/avfatqu6.default/places.sqlite-wal
assets/mozilla/firefox/avfatqu6.default/search.json
assets/mozilla/firefox/avfatqu6.default/sessionCheckpoints.json
assets/mozilla/firefox/avfatqu6.default/sessionstore-backups/recovery.bak
assets/mozilla/firefox/avfatqu6.default/sessionstore-backups/recovery.js
assets/mozilla/firefox/avfatqu6.default/webappsstore.sqlite
assets/mozilla/firefox/avfatqu6.default/webappsstore.sqlite-shm
assets/mozilla/firefox/avfatqu6.default/webappsstore.sqlite-wal
assets/mozilla/firefox/avfatqu6.default/xulstore.json
